{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- CONFIGURAÇÕES -->
    <meta charset="UTF-8">
    
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <!-- TÍTULO -->
    <title>Email enviado</title>

    <!-- CSS -->
    <link rel="stylesheet"
        href="{% static 'financeiro/css/auth.css' %}?v=11">

</head>

<body class="auth-login-body">
    <!-- CONTAINER PRINCIPAL -->
    <main class="auth-simple-shell">

        <!-- CARD -->
        <section class="auth-simple-card">

            <!-- LOGO -->
            <img src="{% static 'financeiro/img/icone.png' %}"
                alt="">

            <!-- TÍTULO -->
            <h1>
                Verifique seu email
            </h1>

            <!-- DESCRIÇÃO -->
            <p>
                Se o email informado estiver cadastrado, enviaremos um link para redefinir sua senha.
            </p>

            <!-- BOTÃO -->
            <a class="login-submit auth-simple-link"
                href="{% url 'financeiro:login' %}">
                Voltar ao login
            </a>

        </section>

    </main>

</body>
</html>
