{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- CONFIGURAÇÕES -->
    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <!-- TÍTULO -->
    <title>Senha alterada</title>

    <!-- CSS -->
    <link rel="stylesheet"
        href="{% static 'financeiro/css/auth.css' %}?v=2">

</head>

<body class="auth-login-body">

    <!-- CONTAINER PRINCIPAL -->
    <main class="auth-simple-shell">

        <!-- CARD -->
        <section class="auth-simple-card">

            <!-- LOGO -->
            <img src="{% static 'financeiro/img/icone.png' %}"
                alt="">
            <!-- TÍTULO -->
            <h1>
                Senha alterada
            </h1>

            <!-- MENSAGEM -->
            <p>
                Sua senha foi atualizada com sucesso. Agora você já pode entrar novamente.
            </p>

            <!-- BOTÃO -->
            <a class="login-submit auth-simple-link"
                href="{% url 'financeiro:login' %}">
                Entrar
            </a>

        </section>

    </main>

</body>
</html>