{% extends 'base.html' %}
<!-- herda o layout principal do sistema -->

{% block content %}
<!-- conteúdo da página -->

<h2 class="mb-4">Nova Categoria</h2>
<!-- título da página -->

<form method="POST">
<!-- formulário enviado via POST -->

{% csrf_token %}
<!-- proteção contra ataque CSRF -->

<div class="mb-3">

<label class="form-label">Nome da Categoria</label>
<!-- rótulo do campo -->

<input type="text" name="nome" class="form-control" placeholder="Ex: Alimentação, Salário..." required>
<!-- campo para digitar o nome da categoria -->

</div>


<button type="submit" class="btn btn-success">
Salvar Categoria
</button>
<!-- botão de envio -->

<a href="/categorias" class="btn btn-secondary">
Voltar
</a>
<!-- botão para voltar à listagem -->

</form>

{% endblock %}