<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">
<!-- define a codificação de caracteres -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- permite que o site seja responsivo -->

<title>Sistema de Gestão Financeira</title>
<!-- título exibido na aba do navegador -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- importa o Bootstrap para estilização -->

</head>

<body>

<!-- NAVBAR (MENU SUPERIOR) -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand" href="/dashboard">
Gestão Financeira
</a>
<!-- nome do sistema -->

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>
<!-- botão para menu em telas pequenas -->


<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav">

<li class="nav-item">
<a class="nav-link" href="/dashboard">Dashboard</a>
</li>
<!-- link para dashboard -->

<li class="nav-item">
    <a class="nav-link" href="/logout">Sair</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/categorias">Categorias</a>
</li>
<!-- link categorias -->


<li class="nav-item">
<a class="nav-link" href="/receitas/criar">Nova Receita</a>
</li>
<!-- link criar receita -->


<li class="nav-item">
<a class="nav-link" href="/despesas/criar">Nova Despesa</a>
</li>

</ul>

</div>

</div>

</nav>


<!-- CONTEÚDO PRINCIPAL -->

<div class="container mt-4">

{% block content %}
{% endblock %}
<!-- aqui cada página será carregada -->

</div>


<!-- RODAPÉ -->

<footer class="bg-dark text-white text-center mt-5 p-3">

<p>Sistema de Gestão Financeira © 2026</p>

</footer>


<!-- SCRIPT BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- scripts do Bootstrap -->

</body>

</html>