{% extends 'financeiro/base.html' %}

{% block content %}

<h2>Despesas</h2>

<a href="financeiro/despesas/criar" class="btn btn-danger mb-3">
Nova Despesa
</a>

<table class="table table-striped">

<thead>
<tr>
<th>Descrição</th>
<th>Valor</th>
<th>Data</th>
<th>Categoria</th>
<th>Recorrente</th>
<th>Ações</th>
</tr>
</thead>

<tbody>

{% for despesa in despesas %}

<tr>

<td>{{ despesa.descricao }}</td>

<td>R$ {{ despesa.valor }}</td>

<td>{{ despesa.data }}</td>

<td>{{ despesa.categoria.nome }}</td>

<td>
{% if despesa.recorrente %}
Sim
{% else %}
Não
{% endif %}
</td>

{% if despesas %}

<table class="table">
</table>

{% else %}

<div class="alert alert-info text-center">
    Nenhuma despesa cadastrada
</div>

{% endif %}

<td>

<a href="financeiro/despesas/editar/{{ despesa.id }}" class="btn btn-warning btn-sm">
Editar
</a>

<a href="financeiro/despesas/excluir/{{ despesa.id }}" class="btn btn-danger btn-sm">
Excluir
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}